// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Imports
@import "partials/colors";
@import "partials/base";

body {
    background: $primary-color;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #eee;
}

// Showcase
.showcase {
    display: block;
    height: 100vh;
    width: 100%;
    @include blur(5px);
    background: {
        image: url("../images/background.jpg");
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color,$background-opacity);
    }
}

.resume-pic {
    position: absolute;
    z-index: 1;
    top: 15vh;
    left: 42%;
    border-radius: 50%;
    width: 14rem;
    height: auto;
    margin: {
        left: auto;
        right: auto;
    }
}

header {
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 15%;

    .icons {
        margin-top: 1rem;
    
        a {
            padding: 0.4rem;
    
            &:hover {
                color: $secondary-color;
                transition: all 1000ms ease-out;
            }
        }
    }
}

// Headings
h1, h2, h3 {
    margin: 0;
    font: {
        weight: 500;
        family: 'Open Sans', sans-serif;
    }

    &.lg-heading {
        font-size: 5rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

a {
    color: #eee;
    text-decoration: none;
}

.secondary-text {
    color: $secondary-color;
}

section {
    padding: 2rem;
}

ul {
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 2rem;
    }

    img {
        padding: 0;
        margin: 0;
    }
}

.tech-list, .lang-list, .star-rating {
    display: flex;
    justify-content: space-evenly;
}

.tech-list, .lang-list {
    p {
        font-size: 1.2rem;
    }
}

.exp-list {
    h4 {
        margin-bottom: 0;
    }
}

.school {
    margin: {
        left: auto;
        right: auto;
    }
}

// Themes
.light-theme{
    background-color: $background-light;
    color: $primary-color;
}